/*show the active page at the moment*/
#now-active.navigation-menu-item .material-icons {
    color: white;
}
    #now-active.navigation-menu-item span {
        color: white;
    }
/*daily greeting*/
#daily-greetings{
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    padding: 10px 18px;
    top: 50px;
    right: 10px;
}
    #daily-greetings h2{
        color: white;
        margin: 0px;
    }

.header {
    height: 92px;
    width: 100%;
}
    .header h2 {
        text-align: center;
        padding: 0 20px;
    }
/*images of signature products*/
.slideshow-container{
    position: relative;
}

.slide-image-container {
    width: 100%;
    background-color: black;
    display: none;
}
    .slide-image-container img {
        max-height: 100%;
        width: 100%;
    }
/*captions for images signature products*/
.caption {
    color: white;
    background-color: rgb(0, 0, 0, 0.75);
    padding: 20px 12px;
    position: absolute;
}
    .caption h1 {
        margin: 0;
        font-family: Roboto Slab;
    }

.left-caption {
    top: 20%;
    left: 100px;
    border-left: solid 3px white;
    border-bottom: solid 1px white;
}

.right-caption {
    top: 15%;
    right: 60px;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
}

.center-caption {
    top: 50%;
    left: 43%;
    text-align: center;
    border-top: solid 3px white;
}
/*transition buttons*/
.prevButton, .nextButton {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 36px;
}

.prevButton {
    margin-left: 5px;
    left: 0;
    border-radius: 3px 0 0 3px;
}

.nextButton {
    margin-right: 5px;
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prevButton:hover,
.nextButton:hover {
    color: black;
    background-color: rgba(255,255,255, 0.8);
}
/*Overview container*/
.about-us-container {
    width: 100%;
    height: 50%;
}

.about-us-left {
    width: 60%;
    height: 100%;
    float: left;
}
    .description-container {
        font-family: Open Sans;
        margin: 0 20px;
        text-align: justify;
    }
        #quote {
            font-size: 15px;
        }

.about-us-right {
    width: 40%;
    height: 100%;
    float: right;
}
    .about-us-image-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

    .about-us-image-container img {
        height: 100%;
        top: 0;
        position: absolute;
    }

    .about-us-image-container img#cold-brew {
        right: 50%;
    }
    .about-us-image-container img#turkish {
        left: 50%;
    }
    
