<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
    <head>
        <title>ABCXYZ Coffee prototype 2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Work+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="navbar">
            <i class="material-icons"><a href="#">menu</a></i>
            <i class="material-icons"><a class="active" href="#">web</a></i>
            <i class="material-icons"><a href="#">free_breakfast</a></i>
            <i class="material-icons"><a href="#">place</a></i>
            <i class="material-icons"><a href="#">comment</a></i>
        </div>
        <div class="page">
            <div class="header">
                ABCXYZ COFFEE
            </div>
            <table align="center">
                <tr>
                    <td align="center">
                        <div class="spec">
                            <p>Special 1
                                <br/> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in turpis suscipit ante aliquam pellentesque
                                ut eget mauris.
                            </p>
                        </div>
                    </td>
                    <td align="center">
                    </div>
                    <div class="spec">
                        <p>Special 2
                            <br/> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in turpis suscipit ante aliquam pellentesque
                            ut eget mauris.
                        </p>
                    </div>
                </td>
                <td align="center">
                    <div class="spec">
                        <p>Special 3
                            <br/> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in turpis suscipit ante aliquam pellentesque
                            ut eget mauris.
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <div class="overview">
                        <p>About us</p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in turpis suscipit ante aliquam pellentesque
                            ut eget mauris.
                            <br> Ut porta convallis tristique. Sed sit amet felis volutpat, laoreet dui ac, pharetra tellus. Nam pulvinar
                            id nisl eget hendrerit. Morbi venenatis facilisis viverra.
                            <br> Aenean congue orci at eros accumsan, a interdum mi lacinia. In elit velit, viverra nec arcu sit amet,
                            efficitur fermentum ipsum. Morbi euismod vel est ut posuere. Nullam tempor nibh et elit viverra, id dapibus
                            sapien ullamcorper. Nulla vel urna iaculis ipsum tristique finibus. Integer lobortis rutrum dui sodales
                            molestie.
                            <br> Nam non lectus vitae leo feugiat efficitur eget et ipsum. Vestibulum sit amet diam et enim convallis
                            iaculis Pellentesque at metus congue, vestibulum est et, dictum neque. Fusce sed purus diam. Donec ultrices
                            varius urna, sed laoreet sem congue at. Proin convallis velit ut lorem fermentum sollicitudin. Phasellus
                            aliquet mauris in mi molestie tincidunt at id ante. Nam a iaculis ex. Duis dapibus massa in massa scelerisque
                            semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in turpis suscipit ante aliquam
                            pellentesque ut eget mauris.
                            <br> Ut porta convallis tristique. Sed sit amet felis volutpat, laoreet dui ac, pharetra tellus. Nam pulvinar
                            id nisl eget hendrerit. Morbi venenatis facilisis viverra.
                            <br> Aenean congue orci at eros accumsan, a interdum mi lacinia. In elit velit, viverra nec arcu sit amet,
                            efficitur fermentum ipsum. Morbi euismod vel est ut posuere. Nullam tempor nibh et elit viverra, id dapibus
                            sapien ullamcorper. Nulla vel urna iaculis ipsum tristique finibus. Integer lobortis rutrum dui sodales
                            molestie.
                            <br> Nam non lectus vitae leo feugiat efficitur eget et ipsum. Vestibulum sit amet diam et enim convallis
                            iaculis Pellentesque at metus congue, vestibulum est et, dictum neque. Fusce sed purus diam. Donec ultrices
                            varius urna, sed laoreet sem congue at. Proin convallis velit ut lorem fermentum sollicitudin. Phasellus
                            aliquet mauris in mi molestie tincidunt at id ante. Nam a iaculis ex. Duis dapibus massa in massa scelerisque
                            semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in turpis suscipit ante aliquam
                            pellentesque ut eget mauris.
                            <br> Ut porta convallis tristique. Sed sit amet felis volutpat, laoreet dui ac, pharetra tellus. Nam pulvinar
                            id nisl eget hendrerit. Morbi venenatis facilisis viverra.
                            <br> Aenean congue orci at eros accumsan, a interdum mi lacinia. In elit velit, viverra nec arcu sit amet,
                            efficitur fermentum ipsum. Morbi euismod vel est ut posuere. Nullam tempor nibh et elit viverra, id dapibus
                            sapien ullamcorper. Nulla vel urna iaculis ipsum tristique finibus. Integer lobortis rutrum dui sodales
                            molestie.
                            <br> Nam non lectus vitae leo feugiat efficitur eget et ipsum. Vestibulum sit amet diam et enim convallis
                            iaculis Pellentesque at metus congue, vestibulum est et, dictum neque. Fusce sed purus diam. Donec ultrices
                            varius urna, sed laoreet sem congue at. Proin convallis velit ut lorem fermentum sollicitudin. Phasellus
                            aliquet mauris in mi molestie tincidunt at id ante. Nam a iaculis ex. Duis dapibus massa in massa scelerisque
                            semper.
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <p>Something</p>
    </div>
</body>
</html>
