.header {
    font-family: Noto serif;
    font-size: 4em;
    text-align: center;
    width: 100%;
}

.navbar {
    position: fixed;
    height: 100%;
    width: 60px;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.navbar .material-icons {
    font-size: 48px;
    margin: 6px 0;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover {
    background-color: black;
    color: white;
}
.navbar .active {
    color: green;
}

.page {
    margin-left: 60px;
}

table {
    width: 96.5%;
    padding: 30px solid;
    text-align: center;
    float: center;
}

.spec {
    width: 40%;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}
.overview {
    width: 80%;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}
.footer{
    font-family: Work Sans;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 70px;
    color: white;
    background-color: #252828;
    right: 0;
    bottom: 0;
    left: 0;
}
